{{#imports}}
import { {{import}} } from '../models/{{import}}';
{{/imports}}

export type ERRORUNKNOWN = any;

{{#operations}}
/* operations */
{{#operation}}
/* operation */
export interface {{httpMethod}} {
    /**
    * {{&notes}}
    */
    '{{path}}': {
        in: {{#hasParams}}{
{{#pathParams}}            {{paramName}}{{^required}}?{{/required}}: {{{dataType}}};
{{/pathParams}}
{{#queryParams}}            {{paramName}}{{^required}}?{{/required}}: {{{dataType}}};
{{/queryParams}}
        }{{/hasParams}}{{^hasParams}}void{{/hasParams}}{{#bodyParams}} & {{{dataType}}}{{/bodyParams}};
        out: {{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}};
{{#responses}}        {{code}}: {{#dataType}}{{{dataType}}}{{/dataType}}{{^dataType}}void{{/dataType}};
{{/responses}}
    }
}
{{/operation}}
{{/operations}}

/* dummies */
export interface GET { }
export interface POST { }
export interface DELETE { }
